<div class="container__big-card">

    <div class="big-card__photo">
        <img src="https://th.bing.com/th/id/OIP.J1TOxQXvvDq55Q3i_GJnMwHaFj?w=233&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="" height="200px">
    </div>

    <div class="big-card__title">
        <h1>
            <a href="#">Saiu a nova versão do Angular</a>
        </h1>
    </div>
    
    <div class="big-card__description">
        <p>
            <a href="#">
                bla bla bla bla bla
            </a>
        </p>
    </div>

</div>